<h1 id="hello2"> Your Dream. </h1>

<form id="input" action='/results' method="POST">
  <br>
  <p> Date: <input type="text" name="date" required value="<%= Time.now.strftime("%B %d, %Y") %>"> </p> 
  <br>
  <p> Description: <input type="text" name="description"  maxlength="140" placeholder="140 Character Max" required></p> 
  <br>
  <p> Emotion(s): <input type="text" name="emotion" required></p> 
  <br>
  <p> Who was it with/about?: <input type="text" name="people" required></p> 
  <br>
  <p> Keywords (separated by commas): <input type="text" name="keywords" required></p> 
  <br>
  <p> Interpretation (optional): <input type="text" name="interpretation"></p> 
  <br>
  <br>
  <br>
  <input type="submit" class="submit" class="btn btn-primary">   
</form>