<h1> DREAMLANDS </h1>


<form id="user_tweet" action="/sign_up" method="POST">
  <p>First Name: <input class="text" type="text" name="name"></p>
  <p>Username: <input class="text" type="text" name="username"></p>
  <p>Password: <input class="text" type="text" name="password"></p>
  <br>
  <input type="submit" class="submit" class="btn btn-primary">
</form>